<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <render>
    <vsync value="true"/>
  </render>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>pinball</path>
  </file_system>

<audio>
</audio>

<input>
</input>

<physics>
</physics>

<player>
</player>

<scene>
</scene>

<textures>
</textures>

</config>